@import "tailwindcss";

h1 {
  font-size: 2.50rem;
  font-weight: bold;
}

h2 {
  font-size: 1.50rem;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

@layer utilities {
  .clip-bottom {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  }
}